

.table-info-space {
  width: 100%;
  height: auto;
}

.table-details-space,
.image-slider-space {
  width: 100%;
  height: auto;
}



.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 500px);
  margin-top: 50px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #ff0000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.status-tag {
  font-size: 14px;
  margin: 0px;
}

.info-tag {
  display: flex;
  margin: 0px;
  align-items: center;
  margin-bottom: 8px;
}

.table-name {
  display: flex;
  align-items: center;
  gap: 15px;
}

.status-tag-holder {
  padding: 0px 8px;
  background-color: rgb(130, 219, 184, 0.08);
  border-radius: 20px;
  border: 2px solid #53ab8b;
}

.status-tag-holder-r{
  padding: 0px 8px;
  background-color: rgba(249, 5, 5, 0.08);
  border-radius: 20px;
  border: 2px solid #ff0000;
}